# FastAPI is a modern, fast (high-performance), web framework for building APIs with Python 3.6+ based on standard Python type hints.
fastapi

# Uvicorn is a lightning-fast ASGI server implementation, using uvloop and httptools.
uvicorn

# Psycopg is the most popular PostgreSQL adapter for the Python programming language.
psycopg2-binary

# Dotenv is a zero-dependency module that loads environment variables from a .env file into os.environ.
python-dotenv